/* src/App.css */
.App {
  display: flex;
  gap: 50px;
}

/* Add some padding to provide spacing between the components */
.ArtistList {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
}
